server {
    location / {
        proxy_pass http://website:80;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header HOST $http_host;
    }
    location /exchange/ {
        rewrite ^/exchange/(.*)$ /$1 break;
        proxy_pass http://exchange:80;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header HOST $http_host;
    }
    location /filehandler/ {
        rewrite ^/filehandler/(.*)$ /$1 break;
        proxy_pass http://filehandler:80;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header HOST $http_host;
    }
}