server {
    location / {
        proxy_pass http://home:80;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header HOST $http_host;
    }
    location /account/ {
        rewrite ^/account/(.*)$ /$1 break;
        proxy_pass http://account:80;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header HOST $http_host;
    }
    location /sales/ {
        rewrite ^/sales/(.*)$ /$1 break;
        proxy_pass http://sales:80;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header HOST $http_host;
    }
}